/* تحديد العناصر h1 */
h1 {
  text-align: center; /* توسيط النص في الوسط */
  color: pink;
  font-size: 32px;
}

/* تحديد العناصر body */
body {
  background-color: #FCE5E8; /* تغيير لون الخلفية */
  font-family: Arial, sans-serif;
}

/* تحديد الروابط */
a {
  text-decoration: none;
}

/* تحديد العناصر h2 */
h2 {
  color: red;
  padding: 50px;
  background-color: #8B0000; /* تغيير لون الخلفية */
  margin: 10px;
  text-align: center; /* توسيط النص في الوسط */
  font-size: 24px;
  transition: background-color 0.3s ease;
  display: block;
  padding: 20px 30px;
  background-color: orange;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
  /* تحديد الموقع النسبي */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* تحديد العناصر h2 عندما يتم تحويل المؤشر إليها */
h2:hover {
  background-color: yellow;
}

/* تحديد العناصر header */
header {
  text-align: center;
}

/* تحديد الصورة داخل header */
header img {
  width: 80px;
  height: auto;
  margin-top: 10px;
  position: top; /* لا يوجد قيمة تسمى "top" - يفضل استخدام قيمة "absolute" */
}

/* تحديد العناصر ذات الكلاس "price" */
.price {
  color: blue;
  font-weight: bold;
}
